@font-face {
  font-family: "Gilroy Extrabold";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"), url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy light";
  src: url("../fonts/gilroylight.woff2") format("woff2"), url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Opensans";
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Opensans light";
  src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
}

body {
  font-size: 15px;
  font-family: "Opensans", Arial, Helvetica, sans-serif;
  line-height: 30px;
  color: rgb(70, 70, 70);
  min-width: 1200px;
}

img {
  max-width: 100%;
  height: auto;
}

*[class$="--hide"] {
  display: none;
}

a {
  color: black;
  text-decoration: none;
}

.arrow::after {
  font-size: 0px;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.arrow--selected::after {
  border-top: 10px solid rgba(0, 0, 0, 1);
}

.arrow:hover::after {
  border-top: 10px solid rgba(0, 0, 0, 0.4);
}

.arrow:active::after {
  border-top: 10px solid rgba(0, 0, 0, 1);
}

.arrow-up::after {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.arrow-down::after {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.btn {
  border: none;
  background-color: transparent;
  font-family: "Gilroy Extrabold", "Arial Black", Gadget, sans-serif;
  letter-spacing: 0.22em;
  text-transform: uppercase;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  z-index: 10;
  line-height: 40px;
}

.btn:focus {
  outline: none;
}

.btn::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #f0c52e;
  z-index: -1;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.btn:hover::after {
  height: 100%;
}

.btn:focus {
  border: 2px solid #f0c52e;
}

.btn:active {
  color: rgba(0, 0, 0, 0.3);
  border: none;
}

.wrapper {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}


/*Header */

.main-header {
  background-color: rgb(247, 226, 150);
  min-height: 300px;
  margin-top: 40px;
  padding: 0 60px;
}

.main-header a:focus,
.main-header a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.main-header a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-header-catalog {
  min-height: 186px;
}

.main-header__container {
  padding-top: 32px;
}

.main-header__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 25px;
  position: relative;
}

.search-form {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 440px;
  font-size: 0px;
}

.search-form input {
  height: 49px;
  vertical-align: bottom;
}

.search-form input[type="search"] {
  width: 300px;
  padding-left: 36px;
  display: inline-block;
  vertical-align: bottom;
  font-size: 15px;
  background-color: transparent;
  border: none;
  font-family: "Opensans", Arial, Helvetica, sans-serif;
  color: black;
}

input[type="search"]::-webkit-input-placeholder {
  font-family: "Opensans", Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.3);
}

input[type="search"]:-ms-input-placeholder {
  font-family: "Opensans", Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.3);
}

input[type="search"]::placeholder {
  font-family: "Opensans", Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.3);
}

input[type="search"]:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

input[type="search"]:hover:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

input[type="search"]:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-form__icon {
  position: relative;
}

.search-form__icon::before {
  content: "";
  position: absolute;
  bottom: 16px;
  left: 2px;
  width: 16px;
  height: 16px;
  background-image: url(../img/icons.png);
  background-repeat: no-repeat;
  background-position: -91px -53px;
}

.search-form__submit {
  width: 85px;
  display: none;
  border: none;
  background-color: transparent;
}

input[type="search"]:focus {
  outline: none;
  border-bottom: 2px solid black;
}

.search-form__input:focus+.search-form__submit {
  border: 2px solid black;
  outline: none;
  font-size: 14px;
  display: inline-block;
  vertical-align: initial;
}

.search-form__input:focus+.search-form__submit:hover {
  background-color: black;
  color: white;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.search-form__submit:active {
  background-color: black;
  color: rgba(255, 255, 255, 0.3);
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.user-menu {
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-header__user-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 500px;
}

.user-menu__item {
  display: inline-block;
  vertical-align: initial;
  margin-left: 27px;
  font-size: 15px;
  position: relative;
  -ms-flex-item-align: center;
  align-self: center;
}

.main-header__user-menu .user-menu__item:first-child {
  margin-left: 27px;
  margin-right: auto;
}

.main-header__user-menu .user-menu__item:last-child {
  margin-right: 0px;
  margin-left: 60px;
}

.user-menu__item .exit {
  opacity: 0.3;
  margin-left: 20px;
}

.icon::before {
  content: "";
  position: absolute;
  background-image: url(../img/icons.png);
  background-repeat: no-repeat;
}

.icon__login::before {
  top: 9px;
  left: -26px;
  width: 13px;
  height: 12px;
  background-position: -5px -101px;
}

.icon__login--black::before {
  background-position: -28px -101px;
}

.icon__compare::before {
  top: 11px;
  right: 79px;
  width: 10px;
  height: 10px;
  background-position: -99px -5px;
}

.icon__compare--black::before {
  background-position: -77px -25px;
}

.icon__cart::before {
  top: 9px;
  right: 72px;
  width: 12px;
  height: 12px;
  background-position: -33px -5px;
}

.icon__cart--black::before {
  background-position: -55px -5px;
}

.icon__facebook::before {
  width: 39px;
  height: 38px;
  background-position: -5px -45px;
}

.icon__htmlacademy::before {
  width: 27px;
  height: 34px;
  background-position: -54px -45px;
}

.icon__insta::before {
  width: 39px;
  height: 38px;
  background-position: -119px -5px;
}

.icon__twitter::before {
  width: 38px;
  height: 38px;
  background-position: -117px -53px;
}

.catalog-menu {
  width: 1050px;
}

.catalog-menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  z-index: 4;
}

.catalog-menu__list-item {
  font-size: 18px;
  margin-right: 40px;
}

.catalog-menu__list-item:first-child {
  margin-right: 290px;
  width: 250px;
}

.catalog-menu__list-item:first-child:hover .catalog-menu__submenu {
  display: block;
}

.plus-sign {
  position: relative;
}

.plus-sign::before,
.plus-sign::after {
  content: "";
  width: 16px;
  height: 3px;
  top: 13px;
  right: -30px;
  position: absolute;
  background-color: #b8a974;
  border-radius: 1px;
  z-index: 133;
}

.plus-sign::before {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.plus-sign::after {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.catalog-menu__list-item:last-child {
  margin-left: 56px;
  margin-right: -2px;
}

.catalog-menu__submenu {
  position: absolute;
  display: none;
  width: 700px;
  padding-right: 400px;
  padding-left: 60px;
  padding-top: 25px;
  margin-left: -60px;
  min-height: 136px;
  font-size: 15px;
  background-color: rgb(247, 226, 150);
}

.plus-sign:hover+.catalog-menu__submenu {
  display: block;
}

.catalog-menu__item-types--hover {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.catalog-menu__item-types--hover li {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 200px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.catalog-menu__item-types--hover li:nth-child(3n+2) {
  padding-left: 20px;
}

.catalog-menu__item-types--hover li:nth-child(3n) {
  margin-right: 0px;
}

.catalog-menu__item-types--hover li:last-child {
  width: 600px;
}

.logo {
  display: block;
  font-size: 48px;
  font-family: "Gilroy Extrabold", "Arial Black", Gadget, sans-serif;
  letter-spacing: 0.011em;
  text-transform: uppercase;
  color: black;
}

.main-header__logo {
  position: absolute;
  top: 26px;
}

.catalog-menu .catalog-menu__list-item>a {
  font-family: "Gilroy Extrabold", "Arial Black", Gadget, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.22em;
  display: inline-block;
  vertical-align: middle;
}


/* Main block*/
main{
  margin-bottom: 81px;
}

.slider {
  padding-right: 60px;
  margin-top: -110px;
  margin-bottom: 95px;
  position: relative;
}

.slider__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider__item--hide {
  display: none;
}

.slider__item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__img-container {
  -ms-flex-preferred-size: 560px;
  flex-basis: 560px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.slider__img {
  display: block;
  margin: 0 auto;
  position: relative;
  /*top: 50%;
  transform: translateY(-50%);*/
}

.slider__item-number {
  margin: 0;
  position: absolute;
  right: 45px;
  top: 55px;
  z-index: 0;
  font-family: "Gilroy Extrabold", "Arial Black", Gadget, sans-serif;
  font-size: 179px;
  color: white;
}

.slider__about {
  flex-basis: 500px;
  padding-left: 40px;
  padding-top: 76px;
  position: relative;
}

.slider__about::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 7px;
  background-color: white;
  top: 34px;
  left: 39px;
}

.slider__text {
  margin-bottom: 50px;
}

.slider__link {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: initial;
  width: 220px;
  text-transform: uppercase;
  letter-spacing: 0.22em;
  text-align: center;
}

.slider__title {
  position: relative;
  font-family: "Gilroy Extrabold", "Arial Black", Gadget, sans-serif;
  color: black;
  font-size: 47px;
  line-height: 57px;
  z-index: 1;
}

.item-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-top: 18px;
}

.item-feature {
  margin-right: 79px;
}
.item-feature:last-child{
   margin-right: 0px;
}

.item-feature__param {
  font-family: "Gilroy light", Arial, Helvetica, sans-serif;
  font-size: 36px;
  margin-bottom: 10px;
}

.item-feature__descr {
  font-size: 13px;
}

.slider__el-container {
  position: relative;
}

.slider__switcher {
  margin: 0;
  padding: 0;
  position: absolute;
  top: -5px;
  right: 0px;
  list-style: none;
  font-size: 0px;
}

.slider__switcher li {
  display: inline-block;
  vertical-align: text-top;
  margin-right: 33px;
}

.slider__switcher-el::after {
  content: "";
  font-size: 0;
  position: absolute;
  width: 4px;
  height: 4px;
  border: 3px solid rgba(0, 0, 0, 0.3);
  background-color: transparent;
  border-radius: 50%;
}

.slider__switcher-el:hover::after {
  border: 3px solid rgba(0, 0, 0, 0.6);
}

.slider__switcher-el:active::after {
  border: 3px solid rgba(0, 0, 0, 1);
}

.slider__switcher-el.slider__switcher-el--selected::after {
  border: 3px solid rgba(0, 0, 0, 1);
}

.device-type-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 167px;
}

.device-type-card {
  width: 160px;
}

.device-type-card__img {
  font-size: 0;
  background-color: rgba(240, 197, 46, 0.5);
  width: 160px;
  height: 160px;
  margin-bottom: 35px;
  position: relative;
}

.device-type-card__img::after {
  content: "";
  position: absolute;
  background-image: url(../img/item-types.png);
  background-repeat: no-repeat;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.vr::after {
  top: 50px;
  width: 97px;
  height: 55px;
  background-position: -5px -5px;
}

.monopod::after {
  top: 42px;
  width: 86px;
  height: 117px;
  background-position: -5px -70px;
}

.action-camera::after {
  top: 40px;
  width: 71px;
  height: 87px;
  background-position: -5px -197px;
}

.fitness-band::after {
  top: 50px;
  width: 107px;
  height: 65px;
  background-position: -5px -294px;
}

.smart-watch::after {
  top: 35px;
  width: 56px;
  height: 98px;
  background-position: -5px -369px;
}

.quadrocopter::after {
  top: 50px;
  width: 132px;
  height: 69px;
  background-position: -5px -477px;
}

.device-type-card__img:hover {
  background-color: rgba(240, 197, 46, 1);
}

.device-type-card__img:active::after {
  opacity: 0.3;
}

.device-type-card__name {
  font-family: "Gilroy Extrabold", "Arial Black", Gadget, sans-serif;
  font-size: 18px;
  line-height: 1.2;
}

.device-type-card__name--small {
  width: 125px;
}

.services {
  background-color: #e5e5e5;
  min-height: 290px;
  margin-bottom: 93px;
}

.services__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.services__menu {
  -ms-flex-preferred-size: 280px;
  flex-basis: 280px;
  margin-top: -18px;
  font-family: "Gilroy Extrabold", "Arial Black", Gadget, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  position: relative;
}

.services__menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  border-right: 7px solid black;
  padding-top: 80px;
  margin-top: -80px;
  padding-bottom: 45px;
}

.services__menu-item {
  width: 160px;
  min-height: 40px;
  margin-bottom: 24px;
  text-align: center;
}

.services__menu-item:active {
  width: 278px;
  background-color: black;
  color: #f7e184;
  text-align: left;
  -webkit-transition: .1s linear;
  transition: .1s linear;
}

.services__menu-item--selected {
  width: 278px;
  background-color: black;
  color: #f7e184;
  text-align: left;
}

.services__btn:active::after {
  display: none;
}

.btn.services__btn--selected::after {
  display: none;
}

.services__menu-item>a {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 160px;
  min-height: 40px;
  color: inherit;
  text-align: center;
  /*margin-top: 5px;*/
  vertical-align: initial;
  font-family: "Gilroy Extrabold", "Arial Black", Gadget, sans-serif;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.services__menu-item>a:active {
  color: inherit;
}

.services__description {
  -ms-flex-preferred-size: 760px;
  flex-basis: 760px;
  margin-top: -57px;
}

.services__description div {
  width: 460px;
}

.services__description-item {
  position: relative;
}

.services__description-item::after {
  content: "";
  position: absolute;
  background-image: url(../img/services.png);
  background-repeat: no-repeat;
  top: 0;
  right: -235px;
}

.services-credit::after {
  width: 156px;
  height: 188px;
  background-position: -5px -5px;
}

.services-delivery::after {
  width: 136px;
  height: 164px;
  background-position: -5px -203px;
}

.services-warranty::after {
  width: 171px;
  height: 195px;
  background-position: -5px -377px;
}

.services__description-item h2 {
  font-family: "Gilroy Extrabold", "Arial Black", Gadget, sans-serif;
  font-size: 47px;
  color: black;
  letter-spacing: 0.011em;
}

.brands {
  /*min-height: 285px;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 115px;
}

.brands__item {
  position: relative;
  display: inline-block;
  font-size: 0;
}

a.brands__item:hover,
a.brands__item:active {
  opacity: 1;
}

.brands__img {
  position: relative;
  background-image: url(../img/brands.png);
  background-repeat: no-repeat;
  max-width: 100%;
  max-height: 100%;
  z-index: 2;

  opacity:0.2;
}

.brands__img--hover {
  opacity: 0;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.brands__img:hover + .brands__img--hover{
  opacity: 1;
  animation: show--hover 0.5s forwards;
}

.brands__img:hover {
  opacity: 0;
  -webkit-animation: show 0.5s forwards;
  animation: show 0.5s forwards;
}

@-webkit-keyframes show {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 0;
  }
}

@keyframes show {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 0;
  }
}

@keyframes show--hover {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.brand-dji {
  width: 260px;
  height: 100px;
  background-position: -5px -5px;
}

.brand-dji--hover {
  width: 260px;
  height: 100px;
  background-position: -5px -115px;
}

.brand-go-pro--hover {
  width: 260px;
  height: 100px;
  background-position: -5px -225px;
}

.brand-go-pro {
  width: 260px;
  height: 100px;
  background-position: -5px -335px;
}

.brand-sp-gadgets {
  width: 260px;
  height: 100px;
  background-position: -5px -445px;
}

.brand-sp-gadgets--hover {
  width: 260px;
  height: 100px;
  background-position: -5px -555px;
}

.brand-vive {
  width: 260px;
  height: 100px;
  background-position: -5px -665px;
}

.brand-vive--hover {
  width: 260px;
  height: 100px;
  background-position: -5px -775px;
}

.contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 80px;
  letter-spacing: 0;
}

.about-us {
  width: 490px;
  position: relative;
}

.about-us__descr {
  margin-bottom: 30px;
}

.about-us__descr:nth-of-type(2) {
  margin-bottom: 72px;
}

.delivery-comp {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Gilroy Extrabold", "Arial Black", Gadget, sans-serif;
  font-size: 16px;
}

.delivery-comp li {
  padding-left: 35px;
  position: relative;
  margin-bottom: 10px;
}

.delivery-comp li::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0px;
  width: 5px;
  height: 5px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  background-color: transparent;
  border-radius: 50%;
}

.about-us h2,
.contacts h2 {
  font-family: "Gilroy Extrabold", "Arial Black", Gadget, sans-serif;
  font-size: 47px;
  color: black;
  letter-spacing: 0.0111em;
  margin-bottom: 51px;
}

.contacts {
  width: 560px;
  position: relative;
}

.about-us::after,
.contacts::after {
  content: "";
  position: absolute;
  top: -21px;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: black;
}

.contacts>a,
.about-us>a {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: initial;
  width: 260px;
  text-align: center;
  font-family: "Gilroy Extrabold", "Arial Black", Gadget, sans-serif;
  font-size: 18px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.contacts__descr {
  margin-bottom: 37px;
}

.contacts-map {
  margin-bottom: 63px;
}

.delivery-comp {
  margin-bottom: 60px;
}


/*footer*/

.main-footer {
  background-color: #464646;
  min-height: 325px;
}

.main-footer a,
.main-footer p {
  color: rgba(255, 255, 255, 0.7);
}

.main-footer a:hover {
  opacity: 1;
  color: rgba(255, 255, 255, 1);
}

.main-footer a:active {
  opacity: 1;
  color: rgba(255, 255, 255, 0.3);
}

.main-footer__wrapper {
  padding-top: 65px;
}

.main-footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main-footer__row-1 {
  margin-bottom: 15px;
}

.main-footer .user-menu__item {
  margin-right: 32px;
}

.main-footer .user-menu__item:last-child {
  margin-right: 0px;
}

.main-footer__row-2 {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 45px;
}

.services-menu {
  margin: 0;
  padding: 0;
  -ms-flex-preferred-size: 470px;
  flex-basis: 470px;
  font-size: 0px;
  text-align: center;
}

.main-footer__address,
.main-footer__phone {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.services-menu:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.services-menu__item {
  display: inline-block;
  vertical-align: middle;
  padding: 15px 0;
  margin-right: 33px;
  font-family: "Gilroy Extrabold", "Arial Black", Gadget, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.21em;
}

.main-footer .logo--yellow {
  color: #ffc600;
}

.main-footer .logo--yellow:hover {
  color: rgba(255, 198, 0, 0.6);
}

.main-footer .logo--yellow:active {
  color: rgba(255, 198, 0, 0.3);
}

.main-footer__stick {
  position: relative;
}

.main-footer__stick::after {
  content: "";
  position: absolute;
  top: 15px;
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}

.social {
  margin-right: 33px;
  font-size: 0px;
}

.social__icon::before {
  content: "";
  position: absolute;
  background-image: url(../img/social-icons.png);
  background-repeat: no-repeat;
  margin-bottom: 30px;
}

.social__facebook::before {
  width: 39px;
  height: 38px;
  background-position: -5px -5px;
}

.social__insta::before {
  width: 39px;
  height: 38px;
  background-position: -5px -53px;
}

.social__twitter::before {
  width: 38px;
  height: 38px;
  background-position: -5px -101px;
}

.social a {
  margin-right: 55px;
}

.social a::before {
  opacity: 0.3;
}

.social a:hover::before {
  opacity: 0.6;
}

.social a:active::before {
  opacity: 0.1;
}

.social a:last-child {
  margin-right: 0;
}

.main-footer__ha-logo {
  position: relative;
}

.main-footer__ha-logo::before {
  right: -4px;
  top: 2px;
}

.main-footer__ha-logo:hover::before {
  opacity: 0.6;
}

.main-footer__ha-logo:active::before {
  opacity: 0.3;
}


/*catalog.html*/

.catalog-container {
  margin: 0 auto;
  margin-top: 15px;
  overflow: hidden;
}

.catalog ul,
.catalog-header ul {
  list-style: none;
}

.catalog__filters-header-wrapper b,
.catalog__sorting-panel-header b {
  font-family: "Gilroy Extrabold", "Arial Black", Gadget, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.catalog-header {
  margin-bottom: 35px;
}

.catalog-header,
.catalog {
  padding-left: 60px;
}

.catalog-header__name {
  font-family: "Gilroy Extrabold", "Arial Black", Gadget, sans-serif;
  font-size: 47px;
  color: black;
  letter-spacing: 0.011em;
}

.catalog-breadcrumbs__list {
  margin: 0;
  padding: 0;
  font-size: 0px;
}

.catalog-breadcrumbs__item {
  position: relative;
  display: inline-block;
  vertical-align: initial;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3);
  color: black;
  padding-right: 40px;
}

.catalog-breadcrumbs__item a {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-breadcrumbs__item a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-breadcrumbs__item a:active {
  color: rgba(0, 0, 0, 0.1);
}

.catalog-breadcrumbs__item:last-child a:hover,
.catalog-breadcrumbs__item:last-child a:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-breadcrumbs__item:last-child::after {
  content: none;
}

.catalog-breadcrumbs__item::after {
  font-size: 0px;
  content: "";
  position: absolute;
  top: 12px;
  right: 16px;
  width: 4px;
  height: 4px;
  border-top: 2px solid rgba(0, 0, 0, 0.3);
  border-right: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

​ .clear::after {
  content: "";
  display: table;
  clear: both;
}

.catalog__filters {
  overflow: hidden;
  float: left;
  width: 270px;
  margin-left: -9999px;
  padding-left: 9999px;
  background-color: #eeeeee;
  padding-bottom: 500em;
  margin-bottom: -500em;
}

.catalog__filters-header {
  margin-top: 0;
  margin-bottom: 70px;
  margin-left: -9999px;
  padding-left: 9999px;
  background: rgba(219, 219, 219, 1);
}

.catalog__filters-header-wrapper {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 70px;
  padding-top: 20px;
}

.filter {
  border: none;
  border-top: 2px solid black;
  width: 200px;
  padding-left: 0px;
  margin-bottom: 14px;
}

.filter label {
  font-size: 14px;
}

.filter__range-input {
  display: none;
}

.range-controls {
  position: relative;
  margin-bottom: 6px;
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #91c92f;
}

.range-controls .scale {
  height: 2px;
  background: rgba(0, 0, 0, 0.1);
}

.range-toggle {
  position: absolute;
  top: -6px;
  width: 10px;
  height: 10px;
  background: #eeeeee;
  border: 2px solid #000;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.range-toggle:active {
  background: #91c92f;
  border: 3px solid #fff;
  -webkit-box-shadow: 0px 4px 6px -2px #464646;
  box-shadow: 0px 4px 6px -2px #464646
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.2);
  display: inline-block;
  vertical-align: initial;
  width: 50%;
}

.max-price {
  text-align: right;
}

.price-controls input {
  font-size: 14px;
  width: 30px;
  color: rgba(0, 0, 0, 0.2);
  text-align: left;
  border: none;
  border-radius: 5px;
  background: transparent;
}

.filter__name {
  display: block;
  margin-top: 5px;
  margin-bottom: 30px;
  font-family: "Gilroy Extrabold", "Arial Black", Gadget, sans-serif;
  font-size: 18px;
}

.filter-color .filter__name {
  margin-bottom: 17px;
}

.filter__color {
  position: relative;
  padding-left: 37px;
  margin-bottom: 10px;
  cursor: pointer;
  display: block;
  letter-spacing: 0.0
}

.filter input[type="checkbox"] {
  display: none;
}

.filter__checkbox-indicator,
.filter__radio-indicator {
  font-size: 0;
}

.filter__checkbox-indicator:hover {
  background-color: #cecece
}

.filter__checkbox-indicator:active {
  background-color: #c4c4c4;
}

.filter__color input[type="checkbox"]+.filter__checkbox-indicator {
  position: absolute;
  top: 1px;
  left: 0;
  width: 23px;
  height: 23px;
  background-color: #dbdbdb;
}

.filter__color input[type="checkbox"]+.filter__checkbox-indicator:hover {
  background-color: #cecece
}

.filter__color input[type="checkbox"]+.filter__checkbox-indicator:active {
  background-color: #c4c4c4;
}

.filter__color input[type="checkbox"]:checked+.filter__checkbox-indicator::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 6px;
  width: 8px;
  height: 4px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.filter__bluetooth {
  position: relative;
  padding-left: 37px;
  margin-bottom: 10px;
  cursor: pointer;
  display: block;
}

.filter-bluetooth .filter__name {
  margin-bottom: 17px;
}

.filter input[type="radio"] {
  display: none;
}

.filter__bluetooth input[type="radio"]+.filter__radio-indicator {
  position: absolute;
  top: 1px;
  left: 0;
  width: 19px;
  height: 19px;
  border: 2px solid #dbdbdb;
  border-radius: 50%;
}

.filter__bluetooth input[type="radio"]+.filter__radio-indicator:hover {
  border-color: #cecece
}

.filter__bluetooth input[type="radio"]+.filter__radio-indicator:active {
  border-color: #c4c4c4;
}

.filter__bluetooth input[type="radio"]:checked+.filter__radio-indicator::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 5px;
  height: 5px;
  border: 2px solid #000;
  border-radius: 50%;
}

.submit-btn {
  width: 200px;
}

.catalog__sorting-panel {
  margin-top: 0;
  margin-bottom: 70px;
  margin-right: -9999px;
  padding-right: 9999px;
  background-color: #ebebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog__sorting-panel-header {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-flex-item-align: baseline;
  align-self: baseline;
  min-height: 70px;
  padding-left: 70px;
  padding-top: 20px;
}

.catalog__items {
  float: right;
  width: 830px;
}

.catalog__sort {
  -ms-flex-item-align: baseline;
  align-self: baseline;
  padding-left: 55px;
}

.sort {
  margin: 0;
  color: rgba(0, 0, 0, 0.3);
  font-size: 0px;
}

.sort__type:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sort__type:active {
  color: rgba(0, 0, 0, 1);
}

.sort__type--selected,
.sort__type--selected:hover,
.sort__type--selected:active {
  color: black;
}

.sort li {
  display: inline-block;
  vertical-align: initial;
  font-size: 14px;
  padding-right: 30px;
}

.sort a {
  color: inherit;
}

.sort-order {
  width: 60px;
  margin-right: 0px;
  margin-left: auto;
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding-top: 15px;
  position: relative;
  font-size: 0px;
}

.catalog__sort-order li {
  display: inline-block;
  vertical-align: text-top;
  margin-right: 0px;
}

.sort-order .sort-order--asc {
  margin-right: 40px;
}

.catalog__item-cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 70px;
  margin-bottom: -10px;
}

.item-card {
  margin-bottom: 30px;
  width: 360px;
  position: relative;
}

.item-card__img-container {
  position: relative;
  margin-bottom: 15px;
  height: 380px;
}

.item-card__img-container>a {
  font-size: 0px;
}

.item-card__img-container>a:hover,
.item-card__img-container>a:active {
  opacity: 1;
}

.item-card__actions--hover {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 380px;
  top: 0px;
  left: 0px;
  display: none;
  background-color: rgba(238, 238, 238, 0.7);
}

.item-card__img-container:hover .item-card__actions--hover {
  display: block;
}

.item-card__actions--hover>a {
  display: block;
}

a.item-card__cart-btn {
  width: 200px;
  margin-top: 176px;
  margin-left: 84px;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
}

a.item-card__add-comp-btn {
  margin-left: 109px;
  font-size: 13px;
  opacity: 0.5;
}

a.item-card__add-comp-btn:hover {
  opacity: 1;
}

a.item-card__add-comp-btn:active {
  opacity: 0.2;
}

.item-card__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.item-card__ref>h3:focus,
.item-card__ref>h3:hover {
  color: rgba(0, 0, 0, 0.6);
}

.item-card__ref>h3:active {
  color: rgba(0, 0, 0, 0.3);
}

.item-card__name {
  max-width: 260px;
  font-family: "Gilroy Extrabold", "Arial Black", Gadget, sans-serif;
  font-size: 18px;
  letter-spacing: 0.01em;
  line-height: 23px;
}

.item-card__name--small {
  width: 200px;
}

.item-card__price {
  -ms-flex-item-align: baseline;
  align-self: baseline;
  margin-top: 16px;
  font-family: "Gilroy light", Arial, Helvetica, sans-serif;
  font-size: 16px;
  letter-spacing: 0.01em;
}

.item-card--new::after {
  content: "New";
  position: absolute;
  top: 29px;
  right: 27px;
  font-family: "Gilroy Extrabold", "Arial Black", Gadget, sans-serif;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  padding: 12px;
}

.catalog__pages-panel {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 70px;
  margin-left: 70px;
  margin-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: rgba(235, 235, 235, 1);
  font-family: "Gilroy Extrabold", "Arial Black", Gadget, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.catalog__prev-page,
.catalog__next-page {
  padding: 20px 30px;
  display: inline-block;
}

.catalog__pages-panel .catalog__prev-page:hover,
.catalog__pages-panel .catalog__next-page:hover {
  color: black;
  background-color: #d9d9d9;
  opacity: 1;
}

.catalog__pages-panel .catalog__prev-page:active,
.catalog__pages-panel .catalog__next-page:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d9d9d9;
  opacity: 1;
}

.catalog-pages__list {
  margin: 0;
  padding: 0;
  font-size: 0px;
  color: rgba(0, 0, 0, 0.3);
  -ms-flex-item-align: center;
  align-self: center;
}

.catalog-pages__list li {
  font-size: 16px;
  display: inline-block;
  vertical-align: bottom;
  padding-right: 25px;
}

.catalog-pages__list a {
  color: inherit;
}

.catalog-pages__list a:hover {
  opacity: 1;
  color: rgba(0, 0, 0, 0.6);
}

.catalog-pages__list a:active {
  opacity: 1;
  color: rgba(0, 0, 0, 1);
}

.catalog-pages__list li:last-child {
  padding-right: 0;
}

a.catalog-pages__selected,
a.catalog-pages__selected:hover,
a.catalog-pages__selected:active {
  color: rgba(0, 0, 0, 1);
}


/*Modals window*/

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.modal-window {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 20;
}

.modal-map-window {
  display: none;
  margin-top: -280px;
  margin-left: -480px;
  width: 960px;
  height: 559px;
  background-color: #eeece7;
  background-image: url("../img/map-big.png");
  -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-map-window iframe {
  border: 0px;
}

.modal-feedback {
  display: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 960px;
  padding: 100px;
  margin-top: -280px;
  margin-left: -480px;
  background-color: white;
  -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-feedback--show,
.modal-window--show {
  display: block;
  -webkit-animation: bounce 0.6s;
  animation: bounce 0.6s;
}

.modal-feedback__form input,
.modal-feedback__form label {
  display: block;
}

.modal-feedback__form label {
  font-family: "Gilroy Extrabold", "Arial Black", Gadget, sans-serif;
  font-size: 18px;
  margin-bottom: 9px;
}

.modal-feedback__form input[type="text"],
.modal-feedback__form input[type="email"],
.modal-feedback__input-rich-text {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 360px;
  margin: 0;
  margin-bottom: 10px;
  padding: 15px 20px;
  padding-right: 40px;
  font-size: 14px;
  line-height: 24px;
  font-family: "Opensans", Arial, Helvetica, sans-serif;
  background-color: #f2f2f2;
  border: 0;
}

.modal-feedback__form input:hover,
.modal-feedback__form textarea:hover {
  background-color: #eaeaea;
}

.modal-feedback__form input:focus,
.modal-feedback__form textarea:focus {
  outline: none;
  background-color: white;
  border: 2px solid #f7e296;
}

.modal-feedback__form input[type="email"]:invalid {
  background-color: #f6dada;
  border: none;
  outline: none;
}

.modal-feedback__input-rich-text {
  width: 760px;
  max-height: 155px;
  margin-bottom: 40px;
  resize: none;
}

.modal-feedback__name {
  float: right;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 55px;
  height: 55px;
  background-color: rgba(240, 197, 46, 0.5);
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  font-size: 0;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 26px;
  left: 13px;
  width: 30px;
  height: 3px;
  background-color: #fff;
  border-radius: 1px;
}

.modal-close::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}